.subscriptions {
  :global(.panel-footer) {
    height: 55px;
    background-color: white;
    border-top: 1px solid #f7f7f7;

    button + button {
      margin-left: 10px;
    }
  }
}

.center {
  text-align: center;
}
